@import './reset.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header {
  flex-basis: 100px;
  background-color: orange;
}

.content {
  max-width: 1200px;
  border: 5px solid black;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.5;
}

h1{
  column-span: all;
  text-align: center;
}

.book-chapter{
  column-count: auto;
  column-width: 260px;
  column-gap: 20px;
  column-rule: dashed black 5px;


  padding: 10px;
  text-align: justify;
}

.page-footer {
  margin-top: auto;
  flex-basis: 50px;
  background-color: orangered;
}
