input{
  display: block;
  margin-bottom: 10px;
}

label{
  display: flex;
}

h1{
  color: red;
}

.flex{
  display: flex;
}

.flex > *{
  flex: 1;
}


input:valid{
  border: 2px solid green;
}

input:invalid{
  border: 2px solid red;
}

input::placeholder{
  color: orange;
}

input:checked{
   margin-left: 25px;
}