@font-face {
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");

  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");

  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");

  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Permanent/PermanentMarker-Regular.ttf") format("truetype");

  font-family: "Permanent Marker";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Langer/Langar-Regular.ttf") format("truetype");

  font-family: "test";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Nerko/NerkoOne-Regular.ttf") format("truetype");
  font-family: "Nerko";
  font-weight: 400;
}
