@import "reset.css";
@import "./style_for_print.css" print;
@import "./style_for_screen.css" screen;
@import "./style_common.css" print, screen;
@import "./style_for_600px.css" screen and (min-width: 600px);
@import "./font_face.css";

* {
  margin: 0;
  padding: 0;
}

h1{
  font-family: "Permanent Marker";
  font-weight: 400;
}
